html, body {
    font-family: 'Cousine', 'Helvetica Neue';
    font-weight: 400;
    color: #2D2F31;
}

h1 {
  text-align: center;
  color: #5D97F5;
  font-weight: 700;
  line-height: 1em;
  margin: 50px 0;
}

a {
  text-decoration: none;
  color: #5D97F5;
}
a::active {  color: #5D97F5; }

p { line-height: 1.5em;}

#questions {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

section {
    display: inline-block;
    text-align: left;
    margin: 100px auto;
    max-width: 450px;
    width: 80%;

    padding: 0 10%;
    font-size: 1.5em;
    opacity: 0;

    transition: opacity 250ms ease-in-out, transform 350ms ease-in-out;

    transform: translate3d(0,-10%,0);
    -webkit-transform: translate3d(0,-10%,0);
}

section.active {
  opacity: 1;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}

input {
    position: relative;
    overflow: hidden;
    outline: none;
    border: none;
    font-size: 1.125em;
    display: inline-block;
    width: 450px;
    max-width: 100%;
    padding: 0.25em 0;
    color: #5D97F5;
    border-bottom: 2px solid #2D2F31;
    font-family: 'Cousine', 'Helvetica Neue';
    font-weight: 700;

}

.is-typing,
.is-waiting {
    position: relative;
    overflow: hidden;
}

.is-waiting input:focus { z-index: 3; }

.is-waiting::before,
.is-typing::before {
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index:1;
}

.is-typing::after,
.is-waiting::before {
  -webkit-animation-name: cursor-blink;
  animation-name: cursor-blink;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  color: #9178E2;
  border-right: 3px solid #5D97F5;
  content: '';
}

@-webkit-keyframes cursor-blink {
    1%{opacity:0}
    40%{opacity:0}
    60%{opacity:1}
    100%{opacity:1}
}
@keyframes cursor-blink{
    1%{opacity:0}
    40%{opacity:0}
    60%{opacity:1}
    100%{opacity:1}
}
